body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.headerBox {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonBox {
  margin-bottom: 20px;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.content1 {
    border : 3px solid #9c88ff;
    border-radius: 10px;
    padding : 5px;
}

.videoBox {
    margin-top : 10px;
}

.githubLink {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    animation-name: updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes updown {
    from { top: 0px; }
    to { top: -20px; }
}